@page "/"
@inject Everything everything



<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. @message



@code {
    private string message;

    protected override async Task OnInitializedAsync()
    {
        message = await everything.GetHelloMessageAsync();
    }
}