@inject NavigationManager NavigationManager
@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br/>
message: @message
<br/>

show showTimes
<InputCheckbox @bind-Value="showShowTimes"></InputCheckbox>
@if (showShowTimes)
{
    <div>@showTimes</div>
}
<br/>

show aktuelleFilm
<InputCheckbox @bind-Value="showAktuelleFilm"></InputCheckbox>
@if (showAktuelleFilm)
{
    <div>@aktuelleFilm</div>
}
<br/>

show kommendeFilm
<InputCheckbox @bind-Value="showKommendeFilm"></InputCheckbox>
@if (showKommendeFilm)
{
    <div>@kommendeFilm</div>
}
<br/>
<a href="https://localhost:7123/joinCreate/cinemas=53&cinemas=4&sort=most_purchased"> Med cinema filtre</a>
<br/>
<a href="https://localhost:7123/joinCreate/movies=76769&movies=35883&sort=most_purchased">  Med movie filtre</a>
<br/>
<a href="https://localhost:7123/joinCreate/cinemas=53&cinemas=52&movies=76769&movies=35883&sort=most_purchased"> Med movie og cinema filtre</a>
<br/>
<a href="https://localhost:7123/joinCreate/cinemas=53&cinemas=4&cinemas=49&genres=96&movies=76769&movies=35883&movies=76769&sort=most_purchased"> Med alle filtre uden tid</a>
<br/>
<a href="https://localhost:7123/joinCreate/cinemas=53&cinemas=4&cinemas=49&genres=96&movies=76769&movies=35883&movies=76769&sort=most_purchased&date=2024-01-16T10:07:00.000Z&date=2024-02-27T10:07:00.000Z"> Med alle filtre med tid</a>
<br/>

@code {
    private string message;
    private string showTimes;
    private bool showShowTimes;
    private string aktuelleFilm;
    private bool showAktuelleFilm;
    private string kommendeFilm;
    private bool showKommendeFilm;


    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        message = await client.GetStringAsync("https://localhost:7123/hello");

        showTimes = await client.GetStringAsync("https://api.kino.dk/ticketflow/showtimes?format=json&region=content&cinemas%5B0%5D=1&sort=most_viewed");
        aktuelleFilm = await client.GetStringAsync("https://api.kino.dk/aktuelle-film?region=content&format=json");
        kommendeFilm = await client.GetStringAsync("https://api.kino.dk/film-paa-vej?region=content&format=json");
    }
    
    
    

}